@inherits LayoutComponentBase

<div class="page">
    <SidebarShell />

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Ocorreu um erro inesperado.
    <a href="" class="reload">Recarregar</a>
    <a class="dismiss">🗙</a>
</div>
